{% extends 'choozy/layout.html' %}
{% load static %}

{% block title %}Waiting{% endblock %}

{% block body %}
<h1 class="text-4xl font-bold text-orange-600 mt-16">All done!</h1>
<p class="text-lg text-gray-500 mt-8">Waiting for the host to close the room</p>

<span id="loading" class="loading loading-dots loading-lg mt-8 text-orange-600"></span>

<div id="playercount" class="stat flex flex-col items-center hidden">
    <div class="stat-title">Players finished</div>
    <div id="playersDone" class="stat-value scale-90"></div>
</div>

<meta name="csrf-token" content="{{ csrf_token }}" />
<meta name="room_id" content="{{ room_id }}" />
<script src="{% static 'choozy/waiting.js' %}"></script>
{% endblock %}